* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e9e9e9;

}



/*88888888888888888  header page design  888888888888888888888888888888*/

.header-container {
  padding: 20px 20px;
  background-color: purple;
  background-image: linear-gradient(to bottom, purple, rgb(185, 0, 185));
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"] {
  width: 300px;
  padding: 10px 10px;
  max-width: 400px;
  border-radius: 50px;
  border: none;
  outline: 2px solid white;
  outline-offset: 5px;
  transition: all 0.2s ease-in;
}

input[type="text"]:active,
input[type="text"]:focus {
  outline-offset: 0px;
}


::placeholder {
  color: purple;
  font-weight: 700;
}



/*888888888888888888888888888  results page  888888888888888888888888888888*/

.container h1 {
  margin: 50px 0px 40px 20px;
}

.result-heading {
  font-size: 2vw;
  /* color: ; */
}

.result-box {
  margin: 30px 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.video-card {
  max-width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.video-box {
  padding: 10px;
}

.video-card video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 15px;
}

.content h3 {
  font-size: 1.7rem;
}


.tag-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tag-box p {
  background-color: purple;
  color: white;
  font-weight: 700;
  padding: 6px 8px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}






/*888888888888888888888888888 home page design 8888888888888888888888888888888888 */

.banner-background {
  /* width: 100%; */
  position: relative;
  height: 100vh;

}

.banner-background img {
  width: 100%;
  height: 100%;
  background-position: center;
  object-fit: cover;
}




.inner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}


.textanimation {
  font-size: 8rem;
  color: white;
  font-weight: 700;
  white-space: nowrap;

}




.search-button {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  padding: 12px 22px;
  text-align: center;
  color: white;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
  text-decoration: none;
}

.play-icon {
  width: 2em !important;
  height: 2em !important;
  animation: icon 0.6s infinite alternate linear;
  transition: all 0.3s ease-in-out;
  color: purple;
}

@keyframes icon {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}







.search-button:hover {
  background-color: purple;

}

.search-button:hover .play-icon {
  color: white;

}





/* 88888888888888888888888888  preloader style 8888888888888888888888888888888888888 */


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preloader:after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid #ccc;
  border-top-color: purple;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* 88888888888888888888888888  preloader style 8888888888888888888888888888888888888 */


.error-img {
  display: flex;
  justify-content: center;
  align-items: center;
}





.bottom-section {
  height: 70vh;
  margin: 0px 5%;
  position: relative;

}

.main-container {
  background-image: linear-gradient(to bottom, purple, rgb(221, 2, 221));
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  top: -100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.section-heading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.section-heading h3 {
  font-size: 2.8rem;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}


.content-box {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
}

.card-box-one {
  height: 400px;
  width: 50%;
  max-width: 500px;

  background: url(../src/img/img2.jpg) no-repeat center center;
  object-fit: contain;
  /* margin: 0px 70px; */
  border-radius: 40px;
}

.card-box-two {
  height: 400px;
  width: 50%;
  max-width: 500px;

  background: url(../src/img/img3.jpg) no-repeat center center;
  object-fit: contain;
  /* margin: 0px 70px; */
  border-radius: 40px;
}



.card-box-one,
.card-box-two {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
  color: white;
  align-items: center;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



/* footer design  */


footer {
  margin-top: 100px;
  background-image: linear-gradient(to bottom, rgb(221, 2, 221), purple);
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

footer .icon-box {
  background-color: white;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.5s all;
  border: 2px solid white;
}

footer .icon-box:hover {
  color: white;
  border: 2px solid white;
  background-color: purple;
}


/* footer design  */




@media (max-width: 768px) {
  .textanimation {
    font-size: 4.8rem;
  }
}


@media(max-width:668px) {

  .error-img img {
    max-width: 300px;
  }

  .content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;

  }

  .bottom-section {
    height: 100vh;
  }

  .card-box-one,
  .card-box-two {
    width: 90%;
  }

  .section-heading {
    margin-top: 100px;
  }

  .section-heading h3 {
    font-size: 1.4rem;
    color: white;
    text-align: center;
  }

  .banner-background {
    height: 85vh;
  }

  footer {
    margin-top: 300px;

  }
}

@media(max-width:480px) {
  input[type="text"] {
    width: 170px;
  }

  .textanimation {
    font-size: 2.5rem;
  }

  .search-button {
    padding: 4px 9px;
    font-size: 13px;
  }

  .card-box-one h1,
  .card-box-two h1 {
    font-size: 1.5em;
  }

  footer {
    margin-top: 220px;

  }

  .result-heading {
    font-size: 4vw;
    /* color: ; */
  }

  .container h1 {
    margin: 30px 0px 5px 30px;
  }

}

@media (max-width:400px) {
  footer {
    margin-top: 300px;

  }
}

::-webkit-scrollbar {
  width: 9px;

}

::-webkit-scrollbar-thumb {
  background-color: purple;
}